<div class="diba-baner">
    <div class="diba-baner-title">
        Maqueta gràfica de la Diputació de Barcelona
    </div>
    <img alt="Escut de la Diputació de Barcelona" src="assets/img/logos/escut.svg" class="img-escut">
</div>