<nav aria-label="breadcrumb" class="pt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" title="Inici" class="c-text-light"><i class="bi bi-house-fill"></i></a></li>
        <li class="breadcrumb-item"><a href="#" class="c-text-light">Tràmits i gestions</a></li>
        <li class="breadcrumb-item"><a href="#" class="c-text-light">Tràmits ens locals</a></li>
        <li class="breadcrumb-item"><a href="#" class="c-text-light">Catàleg de serveis</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recurs</li>
    </ol>
</nav>