{% extends 'front.html.twig' %}

{% block carousel %}{% endblock %}
{% block contact %}{% endblock %}

{% block contingut %}
    <div id="content">
        <div class="container">
            <div class="text-justify p-4">
                <h3 class="c-diba">Xarxes socials</h3>

                <div id="xarxes-socials-icons">
                    <a href="https://www.facebook.com/DiputaciodeBarcelona" title="Facebook de la Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/facebook.svg" alt="Facebook de la Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://twitter.com/Diba" title="Twitter de la Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/x.svg" alt="Twitter de la Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://www.youtube.com/user/Diba" title="Youtube de la Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/youtube.svg" alt="Youtube de la Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://instagram.com/dibacat" title="Instagram de la Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/instagram.svg" alt="Instagram de la Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://www.linkedin.com/company/348352" title="LinkedIn de la Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/linkedin.svg" alt="LinkedIn de la Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://www.tiktok.com/@diputaciobarcelona" title="TikTok Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/tiktok.svg" alt="TikTok Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://t.me/diputaciobarcelona" title="Telegram Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/telegram.svg" alt="Telegram Diputació de Barcelona" class="logo-sm">
                    </a>
                    <a href="https://www.threads.net/@dibacat" title="Threads Diputació de Barcelona" target="_blank" class="text-decoration-none">
                        <img src="assets/img/xarxes/threads.svg" alt="Threads Diputació de Barcelona" class="logo-sm">
                    </a>
                </div>

                <h3 class="c-diba mt-4">Bootstrap icons</h3>

                <p>
                    Utilitzem Boostrap icons com a llibreria genèrica amb més de 2000 icones vectorials. Pots consultar la llibreria completa a <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap icons</a>.
                    <br>Exemples:
                </p>

                <p>
                    <i class="bi bi-search"></i>
                    <i class="bi bi-plus-circle-fill"></i>
                    <i class="bi bi-trash-fill"></i>
                    <i class="bi bi-pencil"></i>
                    <i class="bi bi-copy"></i>
                    <i class="bi bi-alarm"></i>
                    <i class="bi bi-archive"></i>
                    <i class="bi bi-arrow-down-circle"></i>
                    <i class="bi bi-arrow-down-left"></i>
                    <i class="bi bi-arrow-down-right"></i>
                    <i class="bi bi-arrow-up-circle"></i>
                    <i class="bi bi-arrow-up-left"></i>
                    <i class="bi bi-arrow-up-right"></i>
                    <i class="bi bi-bell"></i>
                    <i class="bi bi-book"></i>
                    <i class="bi bi-bookmark"></i>
                    <i class="bi bi-box-arrow-in-down"></i>
                    <i class="bi bi-box-arrow-in-left"></i>
                    <i class="bi bi-box-arrow-in-right"></i>
                    <i class="bi bi-braces"></i>
                    <i class="bi bi-briefcase"></i>
                    <i class="bi bi-broadcast"></i>
                    <i class="bi bi-bug"></i>
                    <i class="bi bi-building"></i>
                    <i class="bi bi-bullseye"></i>
                    <i class="bi bi-calculator"></i>
                    <i class="bi bi-calendar"></i>
                    <i class="bi bi-camera"></i>
                    <i class="bi bi-camera-video"></i>
                    <i class="bi bi-chat"></i>
                    <i class="bi bi-check"></i>
                    <i class="bi bi-check-circle"></i>
                    <i class="bi bi-check-square"></i>
                    <i class="bi bi-chevron-down"></i>
                    <i class="bi bi-chevron-left"></i>
                    <i class="bi bi-chevron-right"></i>
                    <i class="bi bi-chevron-up"></i> etc...
                </p>

                <h3 class="c-diba mt-4">Altres pictos</h3>

                <p>
                    <img src="assets/img/pictos/contacte.png" alt="Contacte" title="Contacte" class="logo-sm">
                    <img src="assets/img/pictos/user.png" alt="Usuari" title="Usuari" class="logo-sm">
                </p>
            </div>
        </div>
    </div>
{% endblock %}
