
{% extends 'front.html.twig' %}

{% block carousel %}{% endblock %}
{% block contact %}{% endblock %}

{% block contingut %}
    <div id="content">
        <div class="container">
            <div class="text-justify p-4">
                <h3 class="c-diba">Drupal</h3>
                <p>
                    Hi ha tema adaptat per a Drupal al repositori oficial:
                    <a href="https://www.drupal.org/project/diba_clean" target="_blank">DiBa Clean</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}