<div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col d-none d-lg-block pt-1">
        <a href="https://diba.cat">
            <img src="assets/img/logos/diba.svg" alt="Diputació de Barcelona" class="logo-md">
        </a>
    </div>
    <div class="col justify-content-end mt-auto">
        <div class="row">
            <div class="col border-end">
                <form role="search" action="#">
                    <div class="input-group">
                        <input type="text" class="form-control p-0" placeholder="Cerca..." aria-label="Cerca...">
                        <span class="input-group-btn">
                            <button class="btn btn-default p-0 focus-ring" type="submit" aria-label="Cerca">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-auto text-end border-end">
                <a href="https://dibaaps.diba.cat/vus/login.asp">
                    <i class="bi bi-lock-fill"></i> Acccés restringit
                </a>
            </div>
            <div class="col-auto text-end">
                <a href="#" class="active ms-2">CA</a>
                <a href="#" class="ms-2">ES</a>
                <a href="#" class="ms-2">EN</a>
            </div>
        </div>
    </div>
</div>
