{% extends 'front.html.twig' %}

{% block menu_primary %}{% endblock %}
{% block carousel %}{% endblock %}
{% block contact %}{% endblock %}

{% block contingut %}
    <div id="content">
        <div class="container">
            <h1 class="visually-hidden">Maqueta corporativa</h1>
            <div class="text-center p-4">--- Contingut slim mínim ---</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="p-4">
        {% include 'partials/footer.html.twig' %}
    </footer>
{% endblock %}