<!doctype html>
<html lang="ca">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Diputació de Barcelona</title>
        <link rel="stylesheet" type="text/css" href="https://use.typekit.net/lbm3kny.css">
        <link rel="stylesheet" type="text/css" href="https://maqueta.diba.cat/v3/assets/css/diba-maqueta-icons.css">
        <link rel="icon" href="https://maqueta.diba.cat/v3/assets/img/favicon.ico">
        <meta name="theme-color" content="#992A38">
        <meta name="google-site-verification" content="eMMO_UMLIrFyD0LPZL5__ck81D7FQr0tTzbrEExOGlE">
    </head>
    <body>
        <h1>Hola, diba!</h1>
        <script src="https://maqueta.diba.cat/v3/assets/js/diba-maqueta.js"></script>
    </body>
</html>
