// Color primari corporatiu.
$color-diba: #9D2235;
$color-gris-clar: #fcfcfc; // Dropdown background
$color-gris-mig: #f7f7f7; // Fons
$color-gris-fosc: #dadada; // Borders

// Colors del text, títols i menús.
$color-text: #333333; // Cos
$color-text-dark: #000000; // Menú principal i títols
$color-text-light: #6e777f; // Menú secundari i captacions

// Colors temàtics
$temes:
  1 #E72362,
  2 #89C14A,
  3 #F34438,
  4 #FE9603,
  5 #2594F2,
  6 #FEBF0F,
  7 #009486,
  8 #00BAD2,
  9 #922A6C,
  10 #4CAD50,
  11 #775549,
  12 #4051B3,
  13 #003676,
  14 #a03022,
  15 #c4629c,
  16 #E71D73,
  17 #1361A8;
